@import './_variables.scss';

.Info {
  color: $primary;
  // background-color: rgba(47, 145, 165, 0.363);

  .display-3 {
      color: $primary;
      text-decoration: underline;
      // font-weight: bolder;
      // text-shadow: 4px 3px 0 #a0a0a0
    }

  .container {
    
    
    .row {
      

      .col-lg-4 {
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;

        .fa-circle {
          color: gray;
        }
      }
    }
  }
}