.Info {
  color: $primary;
  background-color: rgb(241, 245, 212);
  .container {
    
    
    .row {
      

      .col-lg-4 {
        text-align: center;
        margin-top: 2rem;

        .fa-circle {
          color: gray;
        }
      }
    }

    .content-divider {
      margin: 5rem 0;
    }
  }
}