.Jumbo {
  
  .jumbotron {
    background-color: #fff;
    background-image: url("/images/me_thug.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-clip: padding-box;
    margin-bottom: 0;

    .display-3 {
      color: $primary;
      font-weight: bolder;
      text-shadow: 4px 3px 0 #c5c6c6
    }

  }
}