.Jumbo {

  .jumbotron {
    background-color: #eceeef;
    background-image: url("/images/me_thug.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    background-clip: padding-box;

    .display-3 {
      text-shadow: 4px 3px 0 #eceeef, 
        9px 8px 0 rgba(0,0,0,0.15);
    }
  }
}