.Jumbo .jumbotron {
  background-color: #fff;
  background-image: url("/images/me_thug.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-clip: padding-box;
  margin-bottom: 0; }
  .Jumbo .jumbotron .display-3 {
    color: darkslategray;
    font-weight: bolder;
    text-shadow: 4px 3px 0 #c5c6c6; }
