.Jumbo {

  .jumbotron {
    background-color: #eceeef;
    background-image: url("/images/me_thug.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain, 50%;
    background-clip: padding-box;
    .self-bg {
      
    }
  }
}