.Jumbo .jumbotron {
  background-color: #dadada;
  background-image: url("/images/me_thug.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-clip: padding-box;
  margin-bottom: 0; }
  .Jumbo .jumbotron .display-3 {
    color: #3d3d3d;
    font-weight: bolder;
    text-shadow: 4px 3px 0 #a0a0a0; }
