.Header .container {
  background-color: #48494a !important;
  box-shadow: 6px 6px 6px gray;
  z-index: 999; }
  .Header .container .bg-inverse {
    background-color: #48494a !important; }
  .Header .container .nav-item .nav-link {
    color: rgba(69, 152, 237, 0.84);
    text-shadow: 1px 1px black; }
  .Header .container .nav-item .nav-link:hover {
    color: white; }
  .Header .container .nav-item .dropdown-menu {
    background-color: white;
    width: 260px; }
    .Header .container .nav-item .dropdown-menu .dropdown-item:hover {
      border-left: 7px solid rgba(69, 152, 237, 0.84);
      background: rgba(221, 221, 221, 0.83); }
      .Header .container .nav-item .dropdown-menu .dropdown-item:hover .fa {
        color: red; }
  .Header .container .ul-icons {
    margin-left: auto; }
    .Header .container .ul-icons .nav-item .nav-link {
      color: #4DF88A;
      text-shadow: 3px 3px black;
      border-left: 0; }
    .Header .container .ul-icons .nav-item .nav-link:hover {
      color: white;
      text-shadow: none; }

.Jumbo .jumbotron {
  background-color: #eceeef;
  background-image: url("/images/me_thug.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-clip: padding-box;
  margin-top: 56px; }
  .Jumbo .jumbotron .display-3 {
    font-weight: bolder;
    text-shadow: 4px 3px 0 #eceeef, 9px 8px 0 rgba(0, 0, 0, 0.15); }

.Content .container .row .col-lg-4 {
  text-align: center;
  margin-top: 2rem; }

.Content .container .content-divider {
  margin: 5rem 0; }
